  * {padding: 0;margin: 0;}
  * {box-sizing: border-box;}
  *::after { box-sizing: border-box;}
  *::before {box-sizing: border-box;}
  *{transition:all 1s;}
  body {
    display: flex;
  }
  /*
  *先分好位置
  */
 #codeWrapper{
    width: 33%;
 }
#codeWrapper{
    position: relative;
}
.action{
    transition: all 2s;
    opacity:0;
    display: flex;
    visibility:hidden;
    flex-direction: column;
    position: absolute;
    top:5px;
    right: 11px;
}
.action>button{
    transition: all 0.2s;
    margin: 8px;
    outline: none;
    border: none;
    color: #FFF;
    background: #cb4e4e;
    border-radius: 6px;
    font-size: 1em;
    line-height: 1.5em;
    padding: 5px 10px;
    cursor: pointer;
}
.action>button.active {
    background: #ab3c3c;
}